.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B9E5E8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-box {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(248, 245, 245);
    background-color: /*#f7f3f3*/#DFF2EB;
    text-align: center;
    color: rgb(5, 5, 5);
}
.form-box h2 {
    margin-bottom: 20px;
    color: black;
}

.form-box label,
.form-box input,
.form-box button {
    color: rgb(12, 12, 12);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #0f0f0f;
    color: rgb(15, 15, 15);
} 

.modal-scrollable-body {
    max-height: 400px; 
    overflow-y: auto;
    padding-right: 10px; 
}
